body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #242424;
  color: #787774;
  text-align: center;
  
  padding-top: 0px;
}

#timer {
  font-size: 70px;
  margin: 15px 0;
  font-weight: bold;
}

button {
  font-size: 20px;
  margin: 15px;
  padding: 3px 20px;
  cursor: pointer;
}

