body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #242424;
    color: #787774;
    text-align: center;
    padding-top: 0px;
}

#timer {
    color: #787774;
    font-size: 70px;
    margin: 1px 0px;
    font-weight: bold;
}

button {
    color: #787774;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px;
    padding: 3px 20px;
    cursor: pointer;
}

.buttons button{
    background-color: #242424;
    border-style: solid;
    border-color: #787774;
}
